<a href="https://colab.research.google.com/github/Venky1998-coder/Venky1998-coder/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [62]:
import pyspark
from pyspark.sql.functions import *
from pyspark.sql.functions import rank, col, desc
from pyspark.sql.window import Window
from pyspark.sql import functions as F
from pyspark.sql.types import StructType,StructField,StringType,IntegerType,DoubleType,DateType

In [4]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("demo").getOrCreate()

In [22]:
from pyspark.sql.types import StructType, StructField, IntegerType, StringType

schema = StructType([
    StructField("customer_id", StringType(), True),
    StructField("customer_name", StringType(), True),
    StructField("signup_date", DateType(), True),
    StructField("age", IntegerType(), True),
    StructField("city", StringType(), True)
])
schema_of_orders = StructType([
    StructField("order_id", IntegerType(), True),
    StructField("customer_id", StringType(), True),
    StructField("order_date", DateType(), True),
    StructField("order_amount", IntegerType(), True),
    StructField("order_status", StringType(), True)
])




df = spark.read.option("header",True).schema(schema).csv("/content/customer.csv")
df.show()

+-----------+-------------+-----------+----+---------+
|customer_id|customer_name|signup_date| age|     city|
+-----------+-------------+-----------+----+---------+
|       C001|        Rahul| 2023-05-10|  28|Bangalore|
|       C002|        Anita|       NULL|NULL|Hyderabad|
|       C003|         NULL|       NULL|  35|  Chennai|
|       C004|        Sunil| 2023-08-20|NULL|     Pune|
|       C005|        Meena|       NULL|  42|   Mumbai|
|       C006|        Kiran|       NULL|  30|Bangalore|
|       C002|        Anita|       NULL|NULL|Hyderabad|
+-----------+-------------+-----------+----+---------+

In [25]:
df2 = spark.read.option("header",True).schema(schema_of_orders).csv("/content/order.csv")
df2.show()

+--------+-----------+----------+------------+------------+
|order_id|customer_id|order_date|order_amount|order_status|
+--------+-----------+----------+------------+------------+
|     101|       C001|2024-01-10|        2500|   COMPLETED|
|     102|       C002|      NULL|        3000|   COMPLETED|
|     103|       C003|2024-01-12|        NULL|     PENDING|
|     104|       C004|      NULL|        4500|   COMPLETED|
|     105|       C005|      NULL|        2000|   CANCELLED|
|     101|       C001|2024-01-10|        2500|   COMPLETED|
|     106|       NULL|2024-01-15|        1800|   COMPLETED|
|     107|       C007|2024-01-16|        NULL|   COMPLETED|
|     108|       C008|      NULL|        2200|   COMPLETED|
+--------+-----------+----------+------------+------------+

In [26]:
##detecting duplicates
df.groupBy(df.columns).count().filter(F.col("count") > 1).show()

+-----------+-------------+-----------+----+---------+-----+
|customer_id|customer_name|signup_date| age|     city|count|
+-----------+-------------+-----------+----+---------+-----+
|       C002|        Anita|       NULL|NULL|Hyderabad|    2|
+-----------+-------------+-----------+----+---------+-----+

In [ ]:
df.dropDuplicates().show()

In [ ]:
df_dedup = df.dropDuplicates()
df_dedup.show()

In [ ]:
perfect_df = df_dedup.dropna()

In [ ]:
df_dedup.show()

In [8]:
df7=df.join(df2,on = "customer_id",how="inner")
df7.show()

+-----------+-------------+-----------+----+---------+--------+----------+------------+------------+
|customer_id|customer_name|signup_date| age|     city|order_id|order_date|order_amount|order_status|
+-----------+-------------+-----------+----+---------+--------+----------+------------+------------+
|       C001|        Rahul| 2023-05-10|  28|Bangalore|     101|2024-01-10|        2500|   COMPLETED|
|       C002|        Anita|       NULL|NULL|Hyderabad|     102|2024/01/11|        3000|   COMPLETED|
|       C002|        Anita|       NULL|NULL|Hyderabad|     102|2024/01/11|        3000|   COMPLETED|
|       C003|         NULL|       NULL|  35|  Chennai|     103|2024-01-12|        NULL|     PENDING|
|       C004|        Sunil| 2023-08-20|NULL|     Pune|     104|12-01-2024|        4500|   COMPLETED|
|       C005|        Meena|       NULL|  42|   Mumbai|     105|2024-13-01|        2000|   CANCELLED|
|       C001|        Rahul| 2023-05-10|  28|Bangalore|     101|2024-01-10|        2500|   COMPLETED|
+-----------+-------------+-----------+----+---------+--------+----------+------------+------------+

In [27]:
df2.filter(col("order_amount")>4000).show()

+--------+-----------+----------+------------+------------+
|order_id|customer_id|order_date|order_amount|order_status|
+--------+-----------+----------+------------+------------+
|     104|       C004|      NULL|        4500|   COMPLETED|
+--------+-----------+----------+------------+------------+

In [31]:
df6 = df2.withColumn("telugu",when(col("order_status")=="COMPLETED","vachindi").otherwise("Rale"))
df6.show()

+--------+-----------+----------+------------+------------+--------+
|order_id|customer_id|order_date|order_amount|order_status|  telugu|
+--------+-----------+----------+------------+------------+--------+
|     101|       C001|2024-01-10|        2500|   COMPLETED|vachindi|
|     102|       C002|      NULL|        3000|   COMPLETED|vachindi|
|     103|       C003|2024-01-12|        NULL|     PENDING|    Rale|
|     104|       C004|      NULL|        4500|   COMPLETED|vachindi|
|     105|       C005|      NULL|        2000|   CANCELLED|    Rale|
|     101|       C001|2024-01-10|        2500|   COMPLETED|vachindi|
|     106|       NULL|2024-01-15|        1800|   COMPLETED|vachindi|
|     107|       C007|2024-01-16|        NULL|   COMPLETED|vachindi|
|     108|       C008|      NULL|        2200|   COMPLETED|vachindi|
+--------+-----------+----------+------------+------------+--------+

In [39]:
df5=df2.dropna(subset=["order_date"]).show()

SyntaxError: positional argument follows keyword argument (ipython-input-4177812859.py, line 2)

In [41]:
df5.fillna(0,subset=["order_amount"]).show()

AttributeError: 'NoneType' object has no attribute 'fillna'

In [44]:
df8 =df2.fillna(0, subset=["order_amount"])
df8.show()

+--------+-----------+----------+------------+------------+
|order_id|customer_id|order_date|order_amount|order_status|
+--------+-----------+----------+------------+------------+
|     101|       C001|2024-01-10|        2500|   COMPLETED|
|     102|       C002|      NULL|        3000|   COMPLETED|
|     103|       C003|2024-01-12|           0|     PENDING|
|     104|       C004|      NULL|        4500|   COMPLETED|
|     105|       C005|      NULL|        2000|   CANCELLED|
|     101|       C001|2024-01-10|        2500|   COMPLETED|
|     106|       NULL|2024-01-15|        1800|   COMPLETED|
|     107|       C007|2024-01-16|           0|   COMPLETED|
|     108|       C008|      NULL|        2200|   COMPLETED|
+--------+-----------+----------+------------+------------+

In [49]:
from pyspark.sql.functions import to_date, col

df8 = df2.withColumn(
    "order_date",
    to_date(col("order_date"))
).fillna(
    {"order_date": "2024-10-01"}
).dropna(subset=["order_amount"]).fillna("unknown",subset=["customer_id"])

df8.show()

+--------+-----------+----------+------------+------------+
|order_id|customer_id|order_date|order_amount|order_status|
+--------+-----------+----------+------------+------------+
|     101|       C001|2024-01-10|        2500|   COMPLETED|
|     102|       C002|2024-10-01|        3000|   COMPLETED|
|     104|       C004|2024-10-01|        4500|   COMPLETED|
|     105|       C005|2024-10-01|        2000|   CANCELLED|
|     101|       C001|2024-01-10|        2500|   COMPLETED|
|     106|    unknown|2024-01-15|        1800|   COMPLETED|
|     108|       C008|2024-10-01|        2200|   COMPLETED|
+--------+-----------+----------+------------+------------+

In [50]:
 df2.groupBy(col("order_id")).count().show()

+--------+-----+
|order_id|count|
+--------+-----+
|     108|    1|
|     101|    2|
|     103|    1|
|     107|    1|
|     102|    1|
|     105|    1|
|     106|    1|
|     104|    1|
+--------+-----+

In [56]:
df8.dropDuplicates().orderBy(col("order_id")).show()

+--------+-----------+----------+------------+------------+
|order_id|customer_id|order_date|order_amount|order_status|
+--------+-----------+----------+------------+------------+
|     101|       C001|2024-01-10|        2500|   COMPLETED|
|     102|       C002|2024-10-01|        3000|   COMPLETED|
|     104|       C004|2024-10-01|        4500|   COMPLETED|
|     105|       C005|2024-10-01|        2000|   CANCELLED|
|     106|    unknown|2024-01-15|        1800|   COMPLETED|
|     108|       C008|2024-10-01|        2200|   COMPLETED|
+--------+-----------+----------+------------+------------+

In [57]:
df8.groupBy(col("order_id")).agg(sum("order_amount").alias("total_sales")).show()

+--------+-----------+
|order_id|total_sales|
+--------+-----------+
|     108|       2200|
|     101|       5000|
|     102|       3000|
|     105|       2000|
|     106|       1800|
|     104|       4500|
+--------+-----------+

In [66]:
df8.withColumn("rank",
               rank().over(Window.orderBy(desc(col("order_amount")))

)).show()

+--------+-----------+----------+------------+------------+----+
|order_id|customer_id|order_date|order_amount|order_status|rank|
+--------+-----------+----------+------------+------------+----+
|     104|       C004|2024-10-01|        4500|   COMPLETED|   1|
|     102|       C002|2024-10-01|        3000|   COMPLETED|   2|
|     101|       C001|2024-01-10|        2500|   COMPLETED|   3|
|     101|       C001|2024-01-10|        2500|   COMPLETED|   3|
|     108|       C008|2024-10-01|        2200|   COMPLETED|   5|
|     105|       C005|2024-10-01|        2000|   CANCELLED|   6|
|     106|    unknown|2024-01-15|        1800|   COMPLETED|   7|
+--------+-----------+----------+------------+------------+----+

In [67]:
df_cleaned= df8.filter(col("customer_id")!="unknown")

In [68]:
df_cleaned.show()

+--------+-----------+----------+------------+------------+
|order_id|customer_id|order_date|order_amount|order_status|
+--------+-----------+----------+------------+------------+
|     101|       C001|2024-01-10|        2500|   COMPLETED|
|     102|       C002|2024-10-01|        3000|   COMPLETED|
|     104|       C004|2024-10-01|        4500|   COMPLETED|
|     105|       C005|2024-10-01|        2000|   CANCELLED|
|     101|       C001|2024-01-10|        2500|   COMPLETED|
|     108|       C008|2024-10-01|        2200|   COMPLETED|
+--------+-----------+----------+------------+------------+